<div style="display: flex; flex-direction:column;">
  <div style="margin: 100px auto 100px auto; display: flex; flex-direction:column;">
    <div style="margin: 0px auto 20px auto;">
      <h1>New profile</h1>
    </div>
    <br>
    <div>
      <%= render "form", profile: @profile %>
    </div>
    <br>
  </div>
</div>
