<div class="cardProfile">
  <%= render @profile %>
</div>
<br>
<h2 class="ui center aligned icon header">
  <i class="circular shopping bag icon"></i>
    Articles
</h2>
<br>
  <% @profile.user.articles.each do |article| %>
    <%= render 'articles/article', article: article %>
  <% end %>