<%= turbo_stream_from "articles" %>
<%= render @article %>
<% if @article.user != current_user %>
 <div>
  <%= render 'orders/form' %>
 </div>
 <% end %>
<div>
  <%= link_to "Back", root_path %>
</div>

