<div class="ui inverted vertical" style="background-color: #000000; height: 50px; display:flex">
    <p style="color: #ffffff; font-size: 16px; font-weight: 500; margin: auto;">
        © 2022. Jorge Ortiz | All Rights Reserved.
    </p>
</div>