<%= turbo_stream_from "orders" %>
<br><br><br><br><br><br>
<h2 class="ui center aligned icon header">
    <i class="circular id card icon"></i>
    My cart.
</h2>
<br>
<div class="userCard">
    <%= render 'orders/usercard', user: current_user.profile %>
</div>
<br>
<div>
    <h2 class="ui center aligned icon header">
        <i class="circular shopping bag icon"></i>
        My cart.
    </h2>
    <br>
    <div class="articles">
        <%= render @orders %>
    </div>
</div>