<%= turbo_stream_from "articles" %>
<h1>Yorchstore</h1>
<% if current_user.profile.user_card == "Seller" %>
<div>
    <p>
        Want sell something? <%= link_to "New article", new_article_path %>
    </p>
</div>
<% end %>
<br>
<div>
    <h3>
        All articles.
    </h3>
    <div id="articles">
        <% @articles.each do |article| %>
            <%= render article %>
        <% end %>
    </div>

</div>